* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.bg_image {
  background-image: url("./images/hero-bg.jpg");
  height: 100vh;
  /* width: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
}
.nav_bar {
  width: 100%;
  position: absolute;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  padding: 0 30px;
  width: 15%;
}
.nav_bar_item {
  width: 85%;
  display: flex;
  align-items: center;
}
.nav_bar_item ul {
  list-style: none;
  display: flex;
  gap: 30px;
  /* margin: 0 auto; */
}
.nav_bar_item ul li a {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
}
.nav_bar_item a:hover {
  color: #1fd679;
}
.hero_section {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
}
.text {
  width: 55%;
  height: 100vh;
  text-transform: uppercase;
  position: relative;
  top: 150px;
  left: 60px;
}
.green_img {
  width: 45%;
  height: 100vh;
  position: relative;
}
.green_img img {
  height: 100vh;
  width: 100%;
}
.ft {
  font-size: 40px;
  font-weight: 500;
  color: #1fd679;
}
.st span {
  font-size: 40px;
  font-weight: 500;
  color: #1fd679;
}
.st {
  font-size: 80px;
  font-weight: 400;
}
.text p {
  width: 580px;
  text-transform: capitalize;
}
.btn {
  margin-top: 40px;
}
.btn button {
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
  /* background-color: black; */
  font-size: 15px;
}
.btn-1 {
  background-color: #1fd679;
  margin: 0 5px;
}
.btn-2 {
  background-color: black;
}
.green_img_sofa {
  position: absolute;
  right: 60px;
  top: 130px;
}
.green_img_sofa img {
  width: 250px;
  height: 280px;
}
.page_2 {
  display: flex;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.left h1 {
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
}
.left p {
  width: 580px;
  margin: 30px 0;
}
.page_3 {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.left_3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-left: 30px;
}
.right_3 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left_3 h1 {
  font-size: 32px;
  font-weight: 500;
}
.t_link {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.t_link hr {
  background-color: #24d278;
  width: 60px;
  height: 1.5px;
  border: none;
  margin: 0 65px 0 5px;
}
.number h5 {
  font-size: 20px;
  font-weight: 500;
  color: #1fd679;
}
.t_name h2 {
  font-size: 20px;
  font-weight: 500;
}
.page_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.left_4 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right_4 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_4 h2 {
  font-size: 32px;
  font-weight: 400;
  padding-left: 50px;
}
.left_4 h1 {
  font-size: 48px;
  font-weight: 400;
  color: #1fd679;
}
.page_5 {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 30vh;
  width: 90%;
  margin: 0 auto;
}
.page_5 h1 {
  font-size: 32px;
  font-weight: 400;
}
.page_5 hr {
  background-color: #24d278;
  width: 60px;
  height: 3px;
  border: none;
  margin: 0 65px 0 5px;
}
.page_6 {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}
.cards {
  display: flex;
  gap: 20px;
}
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e4e5e9;
  height: 380px;
  width: 250px;
  gap: 5px;
  position: relative;
}
.cards :hover {
  background-color: #1fd679;
  transition: 0.5s ease;
}
.new {
  background-color: black;
  color: white;
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.price {
  color: #1fd679;
}
.btn-3 {
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 15px;
  margin-top: 60px;
}
.page_7 {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}
.cont {
  display: flex;
  align-items: center;
}
.cont > h1 {
  font-size: 32px;
  font-weight: 400;
}
.cont hr {
  background-color: #24d278;
  width: 60px;
  height: 2.5px;
  border: none;
  margin: 0 65px 0 5px;
}
.contact_us {
  display: flex;
  gap: 40px;
  /* justify-content: center; */
  align-items: center;
}
.left_7 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.left_7 input {
  width: 550px;
  border: none;
  box-shadow: 2px 2px 4px lightgray;
  color: black;
  padding: 15px 10px;
  margin: 15px 0;
}
.left_7 textarea {
  width: 550px;
  padding: 15px 10px;

  border: none;
  box-shadow: 1px 1px 8px lightgray;
}
.page_8 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}
.testonimal {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.testonimal h1 {
  font-weight: 400;
  font-size: 32px;
}
.testonimal hr {
  background-color: #1fd679;
  width: 60px;
  height: 2.5px;
  border: none;
}
.card_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.person {
  display: flex;
  align-items: center;
  gap: 20px;
}
.name {
  flex: 1;
  box-shadow: 1px 1px 8px lightgreen;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.person_detail h1 {
  font-size: 20px;
  font-weight: 700;
}
.card_1 :hover {
  background-color: #e4e5e9;
}
.footer {
  width: 100%;
  height: 90vh;
  background-color: #0f1521;
  color: white;
}
.footer > h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 40px 0 10px 0;
  width: 70%;
  border-bottom: 2px solid white;
  margin: 0 auto;
}
.footer_row {
  display: flex;
  gap: 60px;
  justify-content: center;
  padding: 40px 0 20px 0;
}
.footer_col1 h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer_col1 h3 {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0;
}
.footer_col2 h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer_col2 p {
  font-size: 16px;
  font-weight: 300;
  width: 300px;
}
.footer_col3 h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer_col3 img {
  margin: 5px;
}
.footer_col4 h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer_col4 input {
  width: 250px;
  padding: 10px 10px;
}
.footer_col4 button {
  text-transform: uppercase;
  background-color: #1fd679;
  padding: 10px 20px;
  color: white;
}
.icon img {
  height: 40px;
  width: 40px;
  margin: 20px 5px 0 0;
}
.footer > p {
  font-size: 16px;
  font-weight: 300;
  color: black;
  width: 100%;
  background-color: white;
  height: 15%;
  text-align: center;
  padding: 20px 0;
}
